
@font-face {
    font-family: boldfinger; 
    src: url('fonts/Boldfinger.ttf')
}

@font-face {
    font-family: datatrash; 
    src: url('fonts/DataTrash.ttf')
}

@font-face {
    font-family: dollmaker; 
    src: url('fonts/RussianDollmaker.otf')
}

@font-face {
    font-family: vinyl; 
    src: url('fonts/vinyl.ttf')
}


@font-face {
    font-family: BebasNeue; 
    src: url('fonts/BebasNeue.ttf')
}


@font-face {
    font-family: SquadaOne; 
    src: url('fonts/SquadaOne.ttf')
}

@font-face {
    font-family: Niagara; 
    src: url('fonts/Niagara.ttf')
}


@font-face {
    font-family: Cambria; 
    src: url('fonts/Cambria.ttf')
}

@font-face {
    font-family: OldEnglish; 
    src: url('fonts/OldEnglishText.ttf')
}

.lh-doubleborders {
    @apply border-t-2 border-b-2 border-white 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

